/* orbitron-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/orbitron-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* orbitron-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/orbitron-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Orbitron";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

.main_header__container {
  max-width: 1440px;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, black), color-stop(50%, #57B8FF), to(#57B8FF));
  background: linear-gradient(to right, black 0%, black 50%, #57B8FF 50%, #57B8FF 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.main_header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -135px;
}

.main_header__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-left: 60px;
}

.item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FAC422;
}

.main_header__img {
  width: 45px;
  height: 45px;
  margin-right: 24px;
}

.main_header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 16px 31px;
  background-color: #57B8FF;
  border: 1px solid white;
  border-radius: 10px;
}

.hero__wrapper {
  padding-top: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__container {
  max-width: 1440px;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, black), color-stop(50%, #57B8FF), to(#57B8FF));
  background: linear-gradient(to right, black 0%, black 50%, #57B8FF 50%, #57B8FF 100%);
}

.hero__img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.hero__sentence {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
}

.hero__meaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  max-width: 656px;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 14px;
  margin-bottom: 45px;
}

.hero__text {
  max-width: 615px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #999999;
  margin-bottom: 53px;
}

.hero__btn3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 21px 34px;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #57B8FF;
  cursor: pointer;
  border-radius: 10px;
}

.hero__word {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-left: 40px;
  cursor: pointer;
}

.hero__btns2 {
  padding-bottom: 250px;
}

.sponsors__container {
  background-color: #FDD04A;
  max-width: 1440px;
}

.sponsors__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #222730;
  padding-top: 128px;
}

.sponsors-img-block {
  width: 200px;
  margin-left: 610px;
  margin-top: 5px;
  margin-bottom: 27px;
}

.sponsors__text {
  max-width: 576px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #555555;
  margin: 0 auto;
  margin-bottom: 41px;
}

.sponsors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 128px;
}

.sponsors__item {
  margin-left: 37px;
}

.features__container {
  max-width: 1440px;
  background-image: url(../../img/background.png);
  background-repeat: no-repeat;
}

.features__content {
  padding-top: 130px;
}

.features__img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.features__sentence {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
}

.features__img {
  margin-right: 10px;
}

.feature__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__title {
  max-width: 716px;
  font-weight: 400;
  font-family: "Orbitron";
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 11px;
  margin-bottom: 39px;
}

.features__text {
  max-width: 698px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 0 auto;
  color: rgba(223, 223, 223, 0.8);
}

.feature-card__left {
  width: 31px;
  height: 31px;
}

.features__raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  padding-top: 60px;
  padding-bottom: 129px;
}

.feature-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 642px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 35px 39px 32px 38px;
}

.feature-card__title {
  font-weight: 400;
  font-family: "Orbitron";
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
}

.feature-card__text {
  max-width: 515px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(223, 223, 223, 0.8);
}

.gaming__container {
  max-width: 1440px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gaming__img-block {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.gaming__content {
  padding-top: 124px;
  margin-right: 94px;
}

.gaming__sentence {
  font-family: "Orbitron";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
}

.gaming__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gaming__title {
  max-width: 684px;
  font-family: "Orbitron";
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 11px;
  margin-bottom: 38px;
}

.gaming__text {
  max-width: 721px;
  font-family: "Orbitron";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
  margin-bottom: 54px;
}

.gaming__btn {
  font-family: "Orbitron";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 21px 34px;
  background: #57B8FF;
  border-radius: 10px;
}

.gaming__img-block1 {
  padding-top: 88px;
}

.games__container {
  max-width: 1440px;
}

.games__item1 {
  max-width: 480px;
  height: 732px;
  background-image: url(../../img/games1.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: -60px;
}

.games__item2 {
  max-width: 480px;
  height: 732px;
  background-image: url(../../img/games2.png);
  background-repeat: no-repeat;
  margin-left: 421px;
  margin-top: -732px;
}

.games__item3 {
  max-width: 600px;
  height: 732px;
  background-image: url(../../img/games3.png);
  background-repeat: no-repeat;
  margin-left: 900px;
  margin-top: -732px;
}

.item {
  position: relative;
}

.games__img {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 35%;
}

.games__text {
  font-weight: 400;
  position: absolute;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  top: 70%;
  left: 25%;
}

.news__container {
  max-width: 1440px;
  background-color: black;
}

.news__sentence {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
}

.news__img {
  width: 32px;
  height: 32px;
}

.news__content {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__sentence {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57B8FF;
}

.news__img {
  max-width: 552px;
}

.title {
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.news__btn {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 21px 34px;
  background: #57B8FF;
  border-radius: 10px;
}

.news-wrapper__img {
  max-width: 640px;
  padding-bottom: 54px;
}

.news-wrapper__date {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #57B8FF;
  margin-bottom: 28px;
}

.news-wrapper__text {
  max-width: 607px;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.news-wrapper {
  gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 81px;
}

.wrapper {
  max-width: 648px;
}

.wrapper__word {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #57B8FF;
  margin-top: 30px;
  margin-bottom: 20px;
}

.wrapper__text {
  max-width: 302px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.wrapper3__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.main_footer__container {
  max-width: 1440px;
  background-image: url(../../img/footer.png);
  background-repeat: no-repeat;
}

.main_footer__content {
  padding-top: 129px;
}

.main_footer__title {
  max-width: 650px;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  color: #141820;
  margin: 0 auto;
}

.main_footer__line {
  max-width: 360px;
  margin-left: 610px;
}

.main_footer__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #555555;
  margin: 0 auto;
  margin-bottom: 3px;
}

.main_footer__text2 {
  max-width: 846px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #555555;
  margin: 0 auto;
  margin-bottom: 71px;
}

.input {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  padding: 21px 226px 21px 13px;
  text-align: center;
  color: #555555;
  margin-left: 30%;
}

.main_footer__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 21px 7px 21px 8px;
  background: #57B8FF;
  margin-left: -5px;
}

.form {
  padding-bottom: 100px;
}/*# sourceMappingURL=main.css.map */