.main_footer__container{
  max-width: 1440px;
  background-image: url(../../img/footer.png);
  background-repeat: no-repeat;
}

.main_footer__content{
  padding-top: 129px;
}

.main_footer__title{
  max-width: 650px;
  font-weight: 400;
font-size: 72px;
line-height: 82px;
text-align: center;
color: #141820;
margin: 0 auto;
}

.main_footer__line{
  max-width: 360px;
  margin-left: 610px;
}

.main_footer__text{
  font-weight: 400;
font-size: 17px;
line-height: 28px;
text-align: center;
color: #555555;
margin: 0 auto;
margin-bottom: 3px;
}

.main_footer__text2{
  max-width: 846px;
  font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #555555;
margin: 0 auto;
margin-bottom: 71px;
}

.input{
  font-weight: 700;
font-size: 18px;
line-height: 28px;
padding: 21px 226px 21px 13px;
text-align: center;
color: #555555;
margin-left: 30%;
}

.main_footer__btn{
  font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
  padding: 21px 7px 21px 8px;
  background: #57B8FF;
margin-left: -5px;
}

.form{
  padding-bottom: 100px;
}